# Introdueix aquí les teves dades per a l'enviament de correus.
# Després, desa aquest fitxer amb el nom ".env" (sense la part ".example").

# El correu electrònic des del qual s'enviaran els informes. Ha de ser un compte de Gmail.
EMAIL_ORIGEN="el_teu_correu@gmail.com"

# La contrasenya d'aplicació generada per al teu compte de Gmail.
# NO és la teva contrasenya habitual de Gmail.
# Consulta el MANUAL_US.md per saber com obtenir-la.
EMAIL_PASSWORD="la_teva_contrasenya_d_aplicacio"
